# "server" is the extra host in the Compose file set to host-gateway
GLC_SERVER__AUTH__ENROLLMENT_ENDPOINT=http://server:9000
# Use a real enrollment token!
#GLC_SERVER__AUTH__ENROLLMENT_TOKEN=eyJjd...
